body {
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background-color: #f8f8f8;
	/*background: url("../views/images/1234567125.jpg");*/
	border-top: 5px solid #7e7e7e;
	margin: 0;
}

h1 {font-size:18px;}

header{
	margin-left:auto;
	margin-right:auto;
}

button {
	border-radius:5px;
	cursor: pointer;
	color: #fff;
	background-color: #29c5e6;
	border: none;
	height: 30px;
	font-family: 'Oswald', sans-serif;
}
input[type="submit"]{
	color: #fff;
	background-color: #29c5e6;
	border: none;
	height: 30px;
	font-family: 'Oswald', sans-serif;
}

p{
	margin:20px 0;
}
form[name="search"]{
	float:right;
	margin: 12px;
}
#top-image{
	width:120px;
	height:80px;
}
#top-image:hover{
	filter: contrast(180%);
}

nav a {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 14px 'Oswald', sans-serif;
	padding: 10px;
}

#selectBackground ul li a{
	color:#86898e;
	display: block;
    font-size: 1.17em;
	padding: 13px 30px;
    font-weight: bold;
}

#selectBackground ul li a:hover{
	background: #d1eeff;
}

#selectBackground ul li a.active {
  background: #29c5e6;
  color: #fff;
}

.top-menu{
	border: 1px solid #d7dadd;
	
}

.top-menu li a{
	text-decoration:none;
} 

.top-menu li {
	display: table-cell;
	margin: 0;
	padding:0px;
}

.top-menu li.active {
	background: #29c5e6;
	color: #fff;
}

.top-menu a {
	color: #b2b2b2;
}

footer {
	background: #7e7e7e;
	color: #dbdbdb;
	font-size: 11px;
}

#footer {
	max-width: 960px;
	margin: auto;
	padding: 10px 0;
	height: 90px;
	text-align:center;
}
div[id="navMenu"]{
	width:70%;
	max-width:1200px;
	min-width:750px;
	margin-left:auto;
	margin-right:auto;
}

#registration-login{
	position:absolute;
	right:33%;
	top:0%;
}

#registration-login a{
	color: #b2b2b2;
}
#registration-login li{
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
}

.modal-shadow-registration{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:#000;
  opacity:0.5;
  display:none;
}
.modal-window-registration{
  position:absolute;
  top:38%;
  left:50%;
  margin:-100px 0 0 -200px;
  width:370px;
  height:220px;
  padding:30px;
  border-radius:10px;
  display:none;
  background:#fff;
}
.close-registration{
  position:absolute;
  top:5px;
  right:5px;
  width:20px;
  height:20px;
  border-radius:3px;
  cursor:pointer;
  text-align:center;
  color:#fff;
  font:normal 14px/20px Arial, Helvetica, sans-serif;
  background:#555;
}

.modal-shadow-login{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:#000;
  opacity:0.5;
  display:none;
}
.modal-window-login{
  position:absolute;
  top:38%;
  left:50%;
  margin:-100px 0 0 -200px;
  width:295px;
  height:200px;
  padding:30px;
  border-radius:10px;
  display:none;
  background:#fff;
}
.close-login{
  position:absolute;
  top:5px;
  right:5px;
  width:20px;
  height:20px;
  border-radius:3px;
  cursor:pointer;
  text-align:center;
  color:#fff;
  font:normal 14px/20px Arial, Helvetica, sans-serif;
  background:#555;
}
.field-registration{
	clear:both;
	text-align:right;
	line-height:30px;
}
label{
	float:left;
	padding-right:10px;
}
.main-registration{
}
.field-login{
	clear:both;
	text-align:right;
	line-height:30px;
}
label{
	float:left;
	padding-right:10px;
}
.main-login{
	float:left;
}
#wrapper{
	max-width:960px;
	margin:auto;
}
#content{
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	min-height:400px;
}
#RegistrationServlet{
	color: #8f8f8f;
	font: 12px Tahoma, sans-serif;
	background-color: #f8f8f8;
	margin: 0;
}
#ErrorPageJSP{
  position:absolute;
  top:38%;
  left:44%;
}
#ProductVIEW{
	Position:absolute;
	left:0%;
	top:26%;
}
.Userdump{
	float:left;
}

a {text-decoration:none; color:#252525}
a:hover {
	color:#29c5e6;
	text-decoration:underline;}
	
input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #5C5151;
	padding: 0 10px;
	vertical-align: top;
}
input[type="password"]{
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #5C5151;
	padding: 0 10px;
	vertical-align: top;
}
.Remove{ 
    width: 200px; 
    margin: 0 50px 10px 0;
    padding: 30px 0; 
    text-align: center; 
    display: inline-block; 
}
.Remove img{
	border: 2px solid #8b8e4b;
	border-radius : 25px; 
}
.Remove p {
	margin:0;
}
#registration{
	margin-right:30px;
}
#ButtonBUY{
	position:relative;
	overflow: hidden;
	width:100%;
}

#ButtonBUY:after {
    content: "";
    background: #d1eeff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.3s
}

#ButtonBUY:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#ButtonBUY:hover{	
	box-shadow: 0 12px 6px -6px #666,0 0 3px 0 #ccc;
}
#login2:hover{
	box-shadow: 0 12px 6px -6px #666,0 0 3px 0 #ccc;
}
.contentForUsers{
	float:left; 
	margin:10px 20px;
	background-color:white; 
	border:1px solid #808080; 
	border-radius:25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.contentForUsers:hover{
	filter: contrast(90%);
	-webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.ProductByID{
	float:left; 
	width:250px;
	border-radius:30px;
	
}

.ProductByID img{
   -moz-transition: all 1s ease-out;
   -o-transition: all 1s ease-out;
   -webkit-transition: all 1s ease-out;
}

.ProductByID img:hover{
    -webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-o-transform: scale(1.02);
	box-shadow: 0 12px 6px -6px #666,0 0 3px 0 #ccc;
}

.shop-image:hover{
	filter: contrast(150%);
}

#social{
	float: left;
	margin-left: 20px;
	width: 250px;
	height:90;
}

#social a{
	border-radius:50%;	
}

#social a img{
	border:0;
	border-radius:50%;
}
#footer-logo {
	float: right;
	margin-top: 20px;
	font-size: 10px;
	text-align: right;
}
#SearchServletID{
	min-height:376px;
}