<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">  
		
  <display-name>FirstApp</display-name>
  
  <!--  <context-param>
 	<param-name>contextConfigLocation</param-name>
 	<param-value>/WEB-INF/mvc-dispatcher-servlet</param-value>
 </context-param>
 
 <listener>
 	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
 
 <servlet>
 	<servlet-name>shopmvc</servlet-name>
 	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
 	<load-on-startup>1</load-on-startup>
 </servlet> -->
  <servlet>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<servlet-class>ua.shop.vitaly.GeneralUsersPage.RegistrationServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>ua.shop.vitaly.GeneralUsersPage.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<servlet-class>ua.shop.vitaly.GeneralUsersPage.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ProductRegisterServlet</display-name>
  	<servlet-name>ProductRegisterServlet</servlet-name>
  	<servlet-class>ua.shop.vitaly.ProductPages.AdminProductPages.ProductRegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SearchServlet</display-name>
  	<servlet-name>SearchServlet</servlet-name>
  	<servlet-class>ua.shop.vitaly.ProductPages.UserProductPages.SearchServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ProductUpdateServlet</display-name>
  	<servlet-name>ProductUpdateServlet</servlet-name>
  	<servlet-class>ua.shop.vitaly.ProductPages.AdminProductPages.ProductUpdateServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ProductDeleteServlet</display-name>
  	<servlet-name>ProductDeleteServlet</servlet-name>
  	<servlet-class>ua.shop.vitaly.ProductPages.AdminProductPages.ProductDeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ProductVIEW</display-name>
  	<servlet-name>ProductVIEW</servlet-name>
  	<servlet-class>ua.shop.vitaly.MainMenu.ProductVIEW</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ProductCard</display-name>
  	<servlet-name>ProductCard</servlet-name>
  	<servlet-class>ua.shop.vitaly.ProductPages.ProductCardPages.ProductCardServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ProductIDServlet</display-name>
  	<servlet-name>ProductIDServlet</servlet-name>
  	<servlet-class>ua.shop.vitaly.ProductPages.UserProductPages.ProductIDServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddToCardServlet</display-name>
  	<servlet-name>AddToCardServlet</servlet-name>
  	<servlet-class>ua.shop.vitaly.ProductPages.ProductCardPages.AddToCardServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RemoveFromCardServlet</display-name>
  	<servlet-name>RemoveFromCardServlet</servlet-name>
  	<servlet-class>ua.shop.vitaly.ProductPages.ProductCardPages.RemoveFromCardServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AboutMeServlet</display-name>
  	<servlet-name>AboutMeServlet</servlet-name>
  	<servlet-class>ua.shop.vitaly.MainMenu.AboutMeServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ContactServlet</display-name>
  	<servlet-name>ContactServlet</servlet-name>
  	<servlet-class>ua.shop.vitaly.MainMenu.ContactServlet</servlet-class>
  </servlet>
  
 <!--   <servlet-mapping>
  	<servlet-name>shopmvc</servlet-name>
  	<url-pattern>/*</url-pattern>
  </servlet-mapping>-->
 <servlet-mapping>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<url-pattern>/registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductRegisterServlet</servlet-name>
  	<url-pattern>/ProductRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchServlet</servlet-name>
  	<url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductUpdateServlet</servlet-name>
  	<url-pattern>/ProductUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductDeleteServlet</servlet-name>
  	<url-pattern>/ProductDelete</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>ProductVIEW</servlet-name>
  	<url-pattern>/PRODUCTVIEW</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>ProductVIEW</servlet-name>
  	<url-pattern>/Productview</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>ProductVIEW</servlet-name>
  	<url-pattern>/productview</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductVIEW</servlet-name>
  	<url-pattern>/ProductVIEW</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductCard</servlet-name>
  	<url-pattern>/ProductCard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductCard</servlet-name>
  	<url-pattern>/Productcard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductCard</servlet-name>
  	<url-pattern>/productcard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductCard</servlet-name>
  	<url-pattern>/PRODUCTCARD</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductIDServlet</servlet-name>
  	<url-pattern>/ProductID</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductIDServlet</servlet-name>
  	<url-pattern>/PRODUCTID</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductIDServlet</servlet-name>
  	<url-pattern>/productid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductIDServlet</servlet-name>
  	<url-pattern>/Productid</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddToCardServlet</servlet-name>
  	<url-pattern>/AddToCardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveFromCardServlet</servlet-name>
  	<url-pattern>/RemoveFromCardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AboutMeServlet</servlet-name>
  	<url-pattern>/aboutme</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AboutMeServlet</servlet-name>
  	<url-pattern>/AboutMe</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AboutMeServlet</servlet-name>
  	<url-pattern>/Aboutme</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AboutMeServlet</servlet-name>
  	<url-pattern>/ABOUTME</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactServlet</servlet-name>
  	<url-pattern>/Contact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactServlet</servlet-name>
  	<url-pattern>/CONTACT</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactServlet</servlet-name>
  	<url-pattern>/contact</url-pattern>
  </servlet-mapping> 
  
  <filter>
  	<filter-name>Controller</filter-name>
  	<filter-class>ua.shop.vitaly.filters.UserFilter</filter-class>
  </filter>
  <filter>
  	<description>
  	</description>
  	<display-name>AdminFilter</display-name>
  	<filter-name>AdminFilter</filter-name>
  	<filter-class>ua.shop.vitaly.filters.AdminFilter</filter-class>
  </filter>
  
 	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Controller</filter-name>
		<url-pattern>/*</url-pattern>
  	</filter-mapping>
 
 <error-page>
 	<error-code>404</error-code>
 	<location>/ErrorPage.jsp</location>
 </error-page>
 <error-page>
 	<error-code>500</error-code>
 	<location>/ErrorPage.jsp</location>
 </error-page>
 
 <error-page>
 	<exception-type>javax.servlet.ServletException</exception-type>
 	<location>/ErrorPage.jsp</location>
 </error-page>
 
 <welcome-file-list>
 		<welcome-file>PRODUCTVIEW</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>